
.single-legacy-funeral-content{
    background:  #2a3da3;
    color: white;
}


.single-legacy-funeral-content .hero-image {
    max-height: 600px !important; /* Adjust the maximum height of the image */
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    margin: 20px 0px; /* Adjust margin as needed */
}

#funeral-field-tabs{
    background-color: white !important;
}

#funeral-field-tabs .nav-link{
    background-color: white !important;
    border: 1px solid rgba(215, 210, 210, 0.533) !important;
   font-size: 18px;
}

#funeral-field-tabs .nav-link.active{
    border: 1px solid #2a3da3 !important;
}

.live-link{
    border: 1px solid rgba(215, 210, 210, 0.533) !important;
    font-size: 18px;
    padding: 15px;
}


/* Myaccount */


/* 
.woocommerce-MyAccount-navigation{
    width: 100% !important;
}
.woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin:0;
   
}

.woocommerce-MyAccount-navigation a {
    text-decoration: none !important;
    color: #ffffff !important; 
   
}

.woocommerce-MyAccount-navigation li {
    margin: 0 10px; 
    text-decoration: none !important;
    font-size: 18px;
    padding: 10px; 
    color: #ffffff !important; 
    background-color: #2a3da3 !important; 
}

.woocommerce-MyAccount-navigation-link.is-active {
    background: rgb(34, 31, 124) !important;
}
.woocommerce-MyAccount-navigation li:hover {
    color: #ffffff;
    background-color: #292e48; 
}


.woocommerce-account .woocommerce-MyAccount-content{
    margin-top: 50px !important;

    width: 100% !important;
} */





/* hide page entry title */
.entry-title{
    display: none !important;
}


body .woocommerce-MyAccount-navigation-link.is-active a{
    background-color: transparent !important;
}

.legacy-photo img {
    width: 300px !important; /* Set your desired width */
    height: 250px !important; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.ast-container {
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}

.ast-article-single{
    padding: 0px !important;
}